* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .wrapper {
        margin-top: 50px;
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
    }

    .form {
        display: grid;
        grid-auto-flow: row;
        gap: 5px;
        width: 500px;
        margin-bottom: 80px;
    }

    .comment-box {
        width: 500px;
        border: 1px solid black;
        display: grid;
        grid-template-rows: 1fr 50px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;

        display: grid;
        grid-auto-flow: row;
        align-content: space-between;
    }

    .comment-id {
        display: grid;
        grid-auto-flow: column;
        align-items: end;
        justify-content: end;
        gap: 15px;
    }