* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.comment-wrapper {
    margin: auto;
    margin-top: 80px;
    max-width: 400px;
}

.getform {
    margin: 10px auto;
}

.postform {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;

    margin-bottom: 40px;
}

.comment-box {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 50px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

    display: grid;
    grid-auto-flow: row;
    align-content: space-between;
}

.comment-id {
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    justify-content: end;
    gap: 15px;
}