nav {
  z-index: 1000;
  position: fixed;
  top: 0;
  padding: 10px 0;
  align-items: center;
  background-color: rgb(53, 51, 58);
  width: 100%;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: rgb(253, 151, 190);
}

.nav-wrap {
  margin: 0 auto;
  padding: 0 20%;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.user-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.user-menu a {
  padding: 2px 8px;

  border: 1px solid white;
  border-radius: 50px;
}

.user-menu a:hover {
  border: 1px solid rgb(253, 151, 190);
}

@media screen and (max-width: 700px) {
  .nav-wrap {
    padding: 0 5%;
    grid-auto-flow: row;
    justify-content: center;
    gap: 10px;
  }
}