<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/_head}"></div>

  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/index.css">

  <title>Gamestudio</title>
</head>

<body>

  <div th:replace="~{fragments/_nav}"></div>


  <div class="main-wrapper">

    <h3 class="main-title">Welcome to <span>gamestudio</span></h3>

    <div class="games-menu">
      <a href="/games/Minesweeper" class="game">Minesweeper</a>
      <a href="/games/Puzzle" class="game">Puzzle</a>
      <a href="/games/Blackjack" class="game">Blackjack</a>
      <a href="/games/Tictactoe" class="game">Tictactoe</a>
      <a href="/games/Blocks" class="game">Blocks</a>
      <a href="/games/Jewels" class="game">Jewels</a>
    </div>


    <main>
      <h2>Lorem, ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos illo autem minima. Voluptatem eveniet
        consequuntur culpa vero laborum, nostrum totam!</p>
      <br>
    </main>
  </div>



</body>

</html>