<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/_head}"></div>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/forms.css}">

    <title>Gamestudio Login</title>
</head>

<body>

<div th:replace="~{fragments/_nav}"></div>

<div class="main-wrapper">

    <form class="login-form main-form" th:action="@{/login}" method="POST">
        <h2>Login</h2>

        <div class="login-form-item main-form-item" th:if="${(user != null)}">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Enter your email" th:value="${user.email}" required />
        </div>

        <div class="login-form-item main-form-item" th:if="${(user == null)}">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Enter your email" required />
        </div>

        <div class="login-form-item main-form-item">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required />
        </div>


        <button type="submit">Login</button>
    </form>

</div>

</body>

</html>