

.minefield {
  margin: 30px auto;
 }

 .minefield-wrapper {
     position: relative;
     width: fit-content;
     margin: auto;
 }

.settings-minesweeper .settings-head {
  background-color: rgb(140, 59, 99);
}

.minesweeper-settings-wrapper {
  display: grid;
  gap: 10px;
}

.minesweeper_display {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.minesweeper_display-mark {
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#reset-btn {
  justify-self: end;
}

.cell-flagged {
  background-color: orange;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 5;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1.5rem;
}

.reset-overlay {
  background-color: #234cacdf;
}

.lose-overlay {
  background-color: #6b2436df;
}

.win-overlay {
  background-color: #23ac45df;
}

.hidden {
  display: none;
}


.tw-cell a {
    width: 100%;
    height: 100%;
}

.tw-cell span, .tw-cell a {
  display: grid;
  place-items: center;
}

.closed span {
  display: none;
}

@media screen and (max-width: 700px) {
  .cell {
    width: 25px;
    height: 25px;
  }

}