<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>avg rating</title>

    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/tables.css}"/>

</head>
<body>

<div class="avg-rating">
    <div th:switch="${rating}">
        <h4 th:text="${game}"></h4>
        <h4 th:case="-1">game not rated yet</h4>
        <h4 th:if="${rating > -1}">Rating: <span th:text="${rating}"></span></h4>
    </div>

    <div class="rating">
        <div class="rating_5"><i class="fa-solid fa-star"></i></div>
        <div class="rating_4"><i class="fa-solid fa-star"></i></div>
        <div class="rating_3"><i class="fa-solid fa-star"></i></div>
        <div class="rating_2"><i class="fa-solid fa-star"></i></div>
        <div class="rating_1"><i class="fa-solid fa-star"></i></div>
        rate:
    </div>
</div>

</body>
</html>