<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/forms.css}" />

  <title>comment form</title>
</head>

<body>


  <form class="comment-form" th:action="@{/comments}" method="post">
    <h2>Post a Comment</h2>
    <input type="hidden" th:name="game" th:value="${game}">

    <input type="text" name="player" placeholder="Enter your name" required />
    <textarea name="comment" placeholder="Enter your comment" required></textarea>
    <button type="submit">Post Comment</button>
  </form>

</body>

</html>