<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="~{fragments/_head}"></div>

  <link rel="stylesheet" th:href="@{/css/games.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">

  <link rel="stylesheet" th:href="@{/games/minesweeper/minesweeper.css}">
  <script defer th:src="@{/games/minesweeper/minesweeper.js}"></script>

  <title>Minesweeper</title>
</head>

<body>

  <div th:replace="~{fragments/_nav}"></div>

  <div class="main-wrapper game-wrapper">

    <div class="settings settings-minesweeper">
      <div class="settings-head">
        <h2>Minesweeper</h2>
      </div>
      <div class="settings-body">
        <button onclick="reset()">reset</button>
      </div>
    </div>

    <div class="minesweeper_game">
      <div class="minesweeper_board"></div>
    </div>


    <div th:replace="~{fragments/_avgRating}"></div>
    <div th:replace="~{fragments/_scoreTable}"></div>
    <div th:replace="~{fragments/_commentForm}"></div>
    <div th:replace="~{fragments/_commentTable}"></div>


  </div>


</body>

</html>