<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <div th:replace="~{fragments/_head}"></div>

  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/games.css}">
  <link rel="stylesheet" th:href="@{/games/minesweeper/minesweeperTailwind.css}">
  <link rel="stylesheet" th:href="@{/css/tailwind.css}">

  <link rel="stylesheet" th:href="@{/css/ratings.css}" />
  <link rel="stylesheet" th:href="@{/css/tables.css}" />
  <link rel="stylesheet" th:href="@{/css/forms.css}" />


  <title>Minesweeper</title>
</head>

<body>

  <div th:replace="~{fragments/_nav}"></div>

  <div class="main-wrapper">

    <div class="settings settings-minesweeper">
      <div class="settings-head">
        <h2>Minesweeper Tailwind Server side</h2>
      </div>
      <div class="settings-body">

        <div class="minesweeper-settings-wrapper">

          <div class="minesweeper_display">
              <p>open: <span th:text="${@minesweeperController.getRemaining()}" ></span> </p>
              <p>flagged: <span th:text="${@minesweeperController.getMarked()}" ></span> </p>
          </div>

          <div class="minesweeper_display">
            <form th:action="@{/games/MinesweeperTailwind/setDifficulty}" class="difficulty-form" method="POST">
              <label for="difficulty">Difficulty</label>
              <select name="difficulty" id="difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
              </select>
              <button type="submit" id="setDifficulty">set</button>
            </form>
            <button><a class="a-btn" href="/games/MinesweeperTailwind/newGame">new game</a></button>
          </div>

          <div class="minesweeper_display minesweeper_display-mark">
              <button><a class="a-btn" href="/games/MinesweeperTailwind/markSwitch">Switch mode</a></button>
              <div th:switch="${@minesweeperController.isMarking()}">
                  <div th:case="true">
                      <h3>Marking🚩</h3>
                  </div>
                  <div th:case="false">
                      <h3>Opening❎</h3>
                  </div>
              </div>
          </div>

        </div>
      </div>
    </div>

    <section>

      <div class='minefield-wrapper' >
        <table class="minefield">
          <div th:switch="${@minesweeperController.isGameOver()}">

            <div th:case="true">
              <tr th:each="row, rowStat : ${@minesweeperController.getFieldTiles()}">
                <td th:each="tile, tileStat : ${row}" th:class="${@minesweeperController.getTileClass(tile)}" >
                  <span th:text="${@minesweeperController.getTileText(tile)}"></span>
                </td>
              </tr>
            </div>

            <div th:case="false">
              <tr th:each="row, rowStat : ${@minesweeperController.getFieldTiles()}">
                <td th:each="tile, tileStat : ${row}" th:class="${@minesweeperController.getTileClass(tile)}" >
                  <a th:href="@{/games/MinesweeperTailwind(row=${rowStat.index}, column=${tileStat.index})}">
                    <span th:text="${@minesweeperController.getTileText(tile)}"></span>
                  </a>
                </td>
              </tr>
            </div>
          </div>
        </table>

        <div th:if="${@minesweeperController.isGameLost()}" class='overlay lose-overlay'>You lost!</div>
        <div th:if="${@minesweeperController.isGameWon()}" class='overlay win-overlay'>You won!</div>
      </div>
    </section>


    <div th:replace="~{fragments/_avgRating :: avg(game='MinesweeperTailwind',rating=${@minesweeperController.getAvgRating()})}"></div>
    <div th:replace="~{fragments/_scoreTable:: scoreTable(game='MinesweeperTailwind',scores=${@minesweeperController.getScores()})}"></div>
    <div th:replace="~{fragments/_commentForm :: commentForm(game='MinesweeperTailwind') }"></div>
    <div th:replace="~{fragments/_commentTable :: commentTable(game='MinesweeperTailwind', comments=${@minesweeperController.getComments()})}"></div>


  </div>

</body>

</html>